@page "/siva"

<div class="wrapper">
    @if (_isInitializing)
    {
        <div class="main">
            <h1>((siva.exe~))</h1>
            <h1 v-if="statuscode == 0">>>>> fetching manifest...</h1>
            <h1>>>>> remote siva~ console initialized~.</h1>
            <h2>>>>>>>>> welcome~, (user) “youngwolf”.</h2>
            <h3>>>>>>>>>>>>>> redirecting to: ((<a href="#">main interface</a>~)).</h3>
        </div>
    }
    else
    {
        <div id="app">
            <header>
                <b>
                    ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||<br>
                    //////// (nav) <a href="/">?Main:Interface</a>, <a href="/game-list">game-list~</a> /////////////////////////////////
                </b>
            </header>

            <div class="router-view">
                <div>
                    <div>
                        <h1>RECIPIENT: Assembly of Masters, S14 Cryptarchy</h1>
                        <h1>SENDER: Tyra Karn</h1>
                        <h1>SUBJECT: SIVA</h1>
                        <h1>SUB-ENTRIES: Nanotech; Self-Assembling Materials; Cosmodrome; Warmind; Iron Lords; Clovis Bray</h1>
                        <h2>Section A</h2>
                        <p>12312314135409870987a8970987g9h09987098s8912312314135409870987a8970987g9h09987098s8912312314135409870987a8970987g9h09987098s89</p>
                        <p>12312314135409870987a8970987g9h09987098s8912312314135409870987a8970987g9h09987098s8912312314135409870987a8970987g9h09987098s89</p>
                        <p>12312314135409870987a8970987g9h09987098s8912312314135409870987a8970987g9h09987098s89</p>
                        <p>12312314135409870987a8970987g9h09987098s8912312314135409870987a8970987g9h09987098s89</p>
                        <p>12312314135409870987a8970987g9h09987098s8912312314135409870987</p>
                        <p>12312314135409870987a8970987g9h09987098s89</p>
                        <p>12312314135409870987a8970987g9h09987098s89</p>
                        <p>
                            We must reopen all previous entries on SIVA. What we once believed to be a colonial tool of the Warminds, destroyed long ago,
                            appears to be active again. This time, there is no sign of any active Rasputin networks. My summation: SIVA is actually a
                            nanotechnology capable of breaking down any existing matter very similar to Glimmer.
                        </p>
                        <h2>Section II</h2>
                        <p>12312314135409870987a8970987g9h09987098s89</p>
                        <p>12312314135409870987a8970987g9h09987098s89</p>
                        <p>12312314135409870987a8970987g9h09987098s89</p>
                        <p>12312314135409870987a8970987g9h09987098s89</p>
                        <p>12312314135: <a href="#">Link C</a></p>
                        <p>12312314135: <a href="#">Link 4</a></p>
                        <p>12312314135409870987a8970987g9h09987098s89</p>
                        <p>12312314135409870987a8970987g9h09987098s8912312314135409870987a8970987g9h09987098s89</p>
                        <p>12312314135409870987a8970987g9h09987098s89123123141354098abcde70987a8970987g9h09987098s8912312314135409870987a8970987g9h09987098s89</p>
                        <p>
                            Unfortunately, these SIVA mites reuse the energy and matter based on a set of programmable directives. SIVA does not cease
                            until said directives are complete. I fear what this could mean for us all and suggest we instigate a system-wide scan for
                            anything bearing the enclosed signatures.
                        </p>
                    </div>
                </div>
                <div>
                    <img class="siva-img" src="/img/siva.png">
                </div>
            </div>

            <footer>
            </footer>
        </div>
    }

</div>