@page "/siva"

<div class="wrapper">
    @if (_isInitializing)
    {
        <div class="main">
            <h1>((siva.exe~))</h1>
            <h1 v-if="statuscode == 0">>>>> fetching manifest...</h1>
            <h1>>>>> remote siva~ console initialized~.</h1>
            <h2>>>>>>>>> welcome~, (user) “youngwolf”.</h2>
            <h3>>>>>>>>>>>>>> redirecting to: ((<a href="#">main interface</a>~)).</h3>
        </div>
    }
    else
    {
        <div id="app">
            <header>
                <b>
                    ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||<br>
                    //////// (nav) <a href="/">?Main:Interface</a>, <a href="/game-list">game-list~</a> /////////////////////////////////
                </b>
            </header>

            <div class="router-view">
                <div>
                    <div>
                        <h1>RECIPIENT: YOUNGW0LF</h1>
                        <h1>SENDER: [REDACTED]</h1>
                        <h1>SUBJECT: SIVA</h1>
                        <h1>SUB-ENTRIES: Nanotech; Self-Assembling Materials; Cosmodrome; Warmind; Iron Lords; Clovis Bray</h1>
                        <h2>Section A</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar orci quis posuere tempor. Ut rutrum nulla enim, at sodales arcu</p>
                        <p>interdum sit amet. Sed vitae gravida tellus. Morbi posuere arcu at mi ornare tristique. Vestibulum ante ipsum primis in faucibus orci luctus</p>
                        <p>et ultrices posuere cubilia curae; Donec dolor ante, hendrerit at auctor sed, suscipit vitae justo. Duis accumsan nulla quis augue</p>
                        <p>ullamcorper, ut dignissim quam facilisis. Donec suscipit erat quis aliquam vestibulum. Quisque condimentum purus laoreet, laoreet</p>
                        <p>mauris et, mollis ex. Proin mollis leo felis, sed suscipit tellus rutrum nec. Nullam commodo eros at lorem efficitur, non vehicula dui lacinia.</p>
                        <p>Sed commodo enim eu maximus volutpat. Nam tellus velit, iaculis nec elit porta, porttitor condimentum ligula. Proin orci lacus, sollicitudin</p>
                        <p>ac neque in, consequat aliquet ex. Suspendisse ornare erat lectus, vitae convallis nisl consectetur scelerisque.</p>
                        <h2>Section II</h2>
                        <p>Vestibulum rutrum quam in pellentesque cursus. Cras elit mauris, viverra eu felis quis, ultricies convallis purus. Mauris enim justo,</p>
                        <p>tristique sit amet turpis in, dictum aliquam arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
                        <p>Curabitur vitae elit non sem iaculis pharetra. Nullam eu sem vel risus efficitur bibendum eget eget felis. Phasellus finibus, nisl eget vehicula</p>
                        <p>convallis, lacus ex ullamcorper ligula, non tempus eros enim non urna. Sed nec dui ut augue congue vestibulum. Aenean fringilla ante</p>
                        <p>vitae magna luctus, at rhoncus mauris auctor. Morbi ut faucibus orci. Sed eu nisi et mi placerat placerat. Donec fermentum magna sit</p>
                        <p>amet libero suscipit, sit amet lacinia ante condimentum. Fusce posuere consectetur velit quis rhoncus. Nulla feugiat eleifend ligula, a</p>
                        <p>mattis ipsum auctor eget.</p>
                        <h2>Section 3</h2>
                        <p>Vivamus vehicula ultrices consequat. Mauris eget consectetur enim. Fusce varius vestibulum lorem, sed pellentesque est tempor vitae.</p>
                        <p>Donec condimentum bibendum eros in gravida. Curabitur vel congue odio, eget mollis urna. Proin placerat risus at ex pulvinar, nec</p>
                        <p>suscipit odio iaculis. Maecenas vel ipsum sit amet enim tempus vehicula.</p>
                    </div>
                </div>
                <img class="siva-img" src="/img/siva.png">
            </div>

            <footer>
            </footer>
        </div>
    }

</div>